name: Watson check

on:
  pull_request:
    branches: [ main ]
    paths:
      - 'src/**'
      - 'test/**'
      - 'deps.edn'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:

  security:

    strategy:
      matrix:
        operating-system: [ubuntu-latest]

    runs-on: ${{ matrix.operating-system }}

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: clj-holmes (Clojure)
        uses: clj-holmes/clj-holmes-action@main
        with:
          output-type: 'json'
          output-file: 'results.json'
          fail-on-result: 'true'
          
      - name: Upload artifact
        uses: actions/upload-artifact@v2
        with:
          path: results.json
          
      - name: Dependency scan
        uses: clj-holmes/clj-watson-action@main
        with:
          clj-watson-sha: "b4d877d"
          clj-watson-tag: "v3.0.1"
          database-strategy: dependency-check
          aliases: clojure-lsp,test 
          deps-edn-path: 'deps.edn'
          output-type: 'json'
          suggest-fix: 'true'
          fail-on-result: 'false'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
